@import "src/styles/variables";

.album-header {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 36px;
    h3{
    	font-size: 25px;
    	margin: 0;
    }
}
.album-content {
  margin: 0;
  padding: 20px 23px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: $color-grey-light;
}