@import "src/styles/variables";

.photo {
	display: flex;
	align-items: center;
	border: 2px solid transparent;
	cursor: pointer;
	padding: 16px;

	&:hover {
		border-color: $color-accent;
		background-color: #ffffff;
	}

	.photo-image{
		padding: 30px;
		background-color: $color-grey-light;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin-right: 21px;
	}

	.photo-title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 21px;
	}

	.photo-action{
		&-select {
			visibility: hidden;
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;

			&:checked + .photo-action-selected {
				visibility: visible;
				opacity: 1;
			}
		}

		&-selected {
			visibility: hidden;
			opacity: 0;
			margin: 0 12px;
			display: inline-block;
			transform: rotate(45deg);
			height: 24px;
			width: 12px;
			border-bottom: 7px solid $color-grey;
			border-right: 7px solid $color-grey;
		}
	}
}