$color-primary: #293845;
$color-primary-light: #4B5C6B;
$color-secondary: #6558F5;

$color-default: #2A3844;
$color-grey: #4B5C6B;
$color-grey-light: #F7F9FA;
$color-accent: #C3CFD9; /* pale grey-blue */
