@import "src/styles/variables";

.album-header {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 36px;
    h3{
    	font-size: 25px;
    	margin: 0;
    }
}
.album-content {
	margin: 0;
	padding: 20px 23px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	background-color: $color-grey-light;
}